.jquery-ui-like {
	border-radius: 4px;
	background: #FFF;
	border: 1px solid #AAA;
	overflow: hidden;
    width: 300px;		
}
.formnew {
    border-radius: 4px;
    background: #FFF;
    border: 1px solid #AAA;
    overflow: hidden;
    width: 150px;    
}
.titleproc {
    border-radius: 4px;
    background: black;
    border: 1px ridge #AAA;
    overflow: hidden;
    text-align: center; 
    
}

.titleproc a:link{
    color:red;
    text-align: right;
}
.specfont1 {
    color: #222;
text-shadow: 0px 2px 3px #555;
}
.specfont2 {
    color: #FFF;
text-shadow: 0px 2px 3px red;
}
.jquery-ui-like div {
	background-image: url(pbar-ani.gif);
	border-right: 1px solid #AAA;
}