* {
  margin: 0;
  padding: 0;
  }
 
body {
  font: 11px/1.5 Verdana, Sans;
  color: #f8f8f8;
  background: #292929;
  text-align: center;
  }
 
#header {
  height: 180px;
  text-align: left;
  }
 
#wrapper {
  width: 970px;
  margin: 0 auto;
  text-align: left;
  }
 
#content, #subContent {
  background: #3c4040;
  }  
 
#content h2, #subContent h2 {
  font: bold 14px/28px Sans;
  text-indent: 1em;
  color: #000022; 
  }  
 
#content {
  float: right;
  width: 750px;
  }
 
#subContent {
  float: left;
  width: 210px;
  }
 
#subContent ul {
  list-style: none;
  margin: 1em;
  }
 
a {
  color: #ccc;
  font: bold 1.1em Sans-Serif;
  text-decoration: underline;
  }
 
a:hover {
  color: #f0f0f0;
  text-decoration: none;
  }

#navImages {
  text-align: center;
  padding: 10px;
  }

#container {
  padding: 10px;
  }
 
#footer {
  clear: both;
  text-align: center;
  padding: 10px;
  font: 0.8em Sans-Serif;
  }  
 
#footer a {
  color: #27aefe;
  }
 
#footer a:hover {
  color: #FFF;
  }    
 

img {
  border: none;
  }
 
img.left {
  float: left;
  margin: 1em 1em 1em 0;
  }
 
img.right {
  float: right;  
  margin: 1em 0 1em 1em;
  }  
 
p, h3, h4 {
  margin: 11px;
  }

hr {
  width: 90%;
}

.result {
    overflow: auto; 
    margin: 0px; 
    padding: 5px; 
    color: black; 
    background-color: white; 
    height: 280px;
	width: 95%;
	text-align: left;
}
.command {
	width: 95%;
	margin: 0px;
}
.form {
border : 1px solid #000000;
background-color : #FFFFFF;
color : #000000;
font-size : 11px;
font-family : Courier New, Andale Mono, Courier;
}
.internet {
border : 1px solid white;
background-color : black;
text-align: center;
}

.error-fnf {
    color: #ff700b;
    font-family : Courier New, Andale Mono, Courier;
}
