#header {
  background: url('../layout/static/headerBG_green.png') repeat-x top left;
  }
 
#content h2, #subContent h2 {
  background: #02fc20 url('../layout/static/smallheaderBG_green.png') repeat-x top left;  
  }  
