table.forum-list, table.forum-message {
	width: 100%;
	border: 1px solid #3B68D1;
}

.forum-list tbody{
	
	border: none;
}

.forum-list th {
	font-weight: bold;
	background-color: #3B68D1;
	text-align: center;
	color: #FFFFFF;
}


table.forum-message {
	margin: 10px 0;
}

td.message-header {
	background-color: #EEEEEE;
}

tr.odd {
	background-color: #EEEEEE;
}

tr.even {
	background-color: #FFFFFF; 
}